body {
    font-family: Microsoft JhengHei;
}

#nav {
    width: 600px;
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    z-index: 10;
}

    #nav a {
        color: black;
    }

#myPhoto {
    width: 180px;
    height: 100px;
}

.top-menu {
    background-color: white;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
}

.user {
    margin-right: 20px;
}

.search-block {
    margin-top: 20px;
    margin-right: 30px;
}

#search-img {
    width: 30px;
    height: 30px;
    
}

.search-block input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

#two-btn {

    margin-left: 20px;

    margin-right: 30px;
}

    #two-btn a {
        text-decoration: none;
    }


#sign {
    color: black;
    margin: 0;
}

#user-img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

#cart-img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.search input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

#nav a:hover {
    color: rgba(95, 95, 95, 0.7);
    text-decoration: none;
}


.idk {
    height:auto;
    padding-top: 100px;
    margin-bottom:10px;
}



.footer-title {
    text-align: center;
}

.footer-body {
    color: rgba(22, 20, 20, 0.7);
    text-align: center;
}

.email-sub {
    text-align: center;
}

#sub-email {
    width: 200px;
}

.subscribe-btn {
    width: 200px;
    height: 50px;
    background: transparent;
    font-size: 20px;
    border: 2px solid black;
}

#contact {
    text-align: center;
}

    #contact img {
        width: 50px;
        height: 50px;
        margin: 30px 20px 0 20px;
    }

    #contact p {
        margin-top: 20px;
    }





.subnav-content {
    display: none;
    position: absolute;
    line-height: 30px;
    /*left: 0px;
    height:300px;*/
    left:210px;
    background-color: white;
    /*width: 98%;*/
    width:40%;
    z-index: 1;
    border: 2px;
    border-style: solid;
    
}


.subnav-content-all {
    display: flex;
    justify-content: center;
}

.subnav-content-left {
    margin-left: 20px;
    margin-top: 30px;
    width: 300px;
}

    .subnav-content-left ul {
        list-style: none;
    }


.subnav-content a {
    color: white;
    text-decoration: none;
}



    .subnav-content a:hover {
        background-color: #eee;
        color: black;
    }

.subnav:hover .subnav-content {
    display: block;
}

#trytry {
   /* width: 200px;
    height: 200px;*/
   width:auto;
   height:auto;
   margin-top:10px;
   margin-bottom:10px;
   margin-right:10px;
}


.subnav-content2 {
    display: none;
    position: absolute;
    line-height: 30px;
    left: 370px;
    background-color: white;
    width: 40%;
    z-index: 1;
    border: 2px;
    border-style: solid;
}

    .subnav-content2 a {
        color: white;
        text-decoration: none;
    }



        .subnav-content2 a:hover {
            background-color: #eee;
            color: black;
        }

.subnav:hover .subnav-content2 {
    display: block;
}

.subnav-content3 {
    display: none;
    position: absolute;
    line-height: 30px;
    left: 520px;
    background-color: white;
    width: 40%;
    z-index: 1;
    border: 2px;
    border-style: solid;
}

    .subnav-content3 a {
        color: white;
        text-decoration: none;
    }


        .subnav-content3 a:hover {
            background-color: #eee;
            color: black;
        }

.subnav:hover .subnav-content3 {
    display: block;
}

.subnav-content4 {
    display: none;
    position: absolute;
    line-height: 30px;
    left: 650px;
    background-color: white;
    width: 40%;
    z-index: 1;
    border: 2px;
    border-style: solid;
}

    .subnav-content4 a {
        color: white;
        text-decoration: none;
    }



        .subnav-content4 a:hover {
            background-color: #eee;
            color: black;
        }

.subnav:hover .subnav-content4 {
    display: block;
}


/*更動*/

.icon {
    display: none;

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }





.hidden1 {
    list-style: none;
    display: none;
}
.hidden2 {
    list-style: none;
    display: none;
}
.hidden3 {
    list-style: none;
    display: none;
}
.hidden4 {
    list-style: none;
    display: none;
}

.hidden-list {
    display:block;
}

/*#two-btn {
    width:300px;
}*/

#logout input {
    border: 0;
    outline: 0;
    background: transparent;
    text-decoration: none;
   
}
#two-btn {
    margin-top:10px;
}

.onBounce {
    height:50px;
}


.search-block1 {
    margin-left:10px;
    margin-right:10px;
}
.search-block1 #search-img {
    /*margin-left: 5px;*/
}

    .search-block1 a {
        display: inline-block;
        padding:0;
    }

    .search-block1 input {
        
        border: 0;
        outline: 0;
        color: white;
        background: transparent;
        border: none;
        /*font-size: 20px;*/
        /*margin-left: 5px;*/
        /*border-bottom: 1px solid white;*/
    }

.search1 {
    width:220px;
}

.useruser {
    display:none;
}



.rightupuser {
    position: absolute;
    line-height: 30px;
    height: 200px;
    right: 100px;
    top: 100px;
    background-color: white;
    width: 20%;
    z-index: 1;
    border: 2px;
    border-style: solid;
}

.rightupuserex {
    position: absolute;
    line-height: 30px;
    height: 200px;
    right: 50px;
    top: 100px;
    background-color: white;
    width: 20%;
    z-index: 1;
    border: 2px;
    border-style: solid;
}


.rightupcart {
    position: absolute;
    line-height: 30px;
    height: 200px;
    right: 30px;
    top: 100px;
    background-color: white;
    width: 20%;
    z-index: 1;
    border: 2px;
    border-style: solid;
}
.cartcart {
    display:none;
}

#two-btn .userhover:hover .useruser {
    display:block;
}

#two-btn .carthover:hover .cartcart {
    display: block;
}


@media only screen and (max-width:1250px) { /*210 370 520 650*/
    .subnav-content {
        left: 100px;  /*80*/
        width: 42%;
    }
    .subnav-content2 {
        left: 260px; /*240*/
        width: 42%;
    }
    .subnav-content3 {
        left: 420px; /*420*/
        width: 42%;
    }
    .subnav-content4 {
        left: 540px; /*540*/
        width: 42%;
    }
    .subnav-content-left {
        margin-left: 10px;
        margin-top: 30px;
        width: 300px;
    }
        .subnav-content-left h4 {
            font-size: 22px;
        }
    /*#trytry {
        width: 260px;
        height: 280px;
    }*/
}


@media only screen and (max-width:1050px) {

    /*#trytry {
        width: 200px;
        height: 280px;
    }*/
    #nav {
        display: none;
    }

    .top-menu .icon {

        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-block {
        display: none;
    }

    .idk.responsive {
       
        padding-top: 0px;
    }

    .top-menu.responsive {
        position: relative;
    }

    /* 抖一下問題點 */       
        .top-menu.responsive #nav {
           
            display: none;
        }

    #two-btn {
        line-height: 100px;
        display: flex;
        width: 250px;
        margin: 0px;
        margin-left: 20px;
        margin-right: 10px;
    }
    .icon.test {
        background-color:black;
    }

}
