
@{
    Layout = null;
}

<div class="up-item">
    <div class="shopping-card">
        <i class="flaticon-bag"></i>

        <span>@ViewData["count"]</span>

    </div>
    <a href="/shopCart/Cart">Shopping Cart</a>
</div>