@model  MVCtest.ViewModels.CategoryListViewModel
@{
    Layout = null;
}

@*~/Product/?category=@item.Category_Id*@

@{

    int counter = 1;
    foreach (var item in Model.Items)
{



    <li><a href="~/shopProduct/Index/?category=@item.Category_Id">@item.Category_Name</a>
        <ul class="sub-menu">
            @foreach (var sub in item.Sub_Categroy) {
                <li>
                    <a href="~/shopProduct/Index/?subcategory=@sub.Sub_Category_ID" style="font-size:20px;">@sub.Category_Name</a>
                </li>
            }
        </ul>
    </li>
    
        counter+=1;
    }

}



