
@{
    ViewBag.Title = "createProduct";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid">
    <div class="col-11">
        <table id="datatables" class="table table-hover" style=" width:120%">
            <thead>
                <tr>
                    <th>Product_Name</th>
                    <th>UnitPrice</th>
                    <th>Sub_Category_Name</th>
                    <th>CategoryGroup_Name</th>
                    <th>Product_Image</th>
                    <th>動作</th>
                </tr>
            </thead>

        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="/Assest/dashboardAssets/dashboardDemo/getProduct.js"></script>