
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-12">
    <div class="card card-chart">
        <div class="card-header ">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <h5 class="card-category">Total Shipments</h5>
                    <h2 class="card-title">銷售量</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="chartBig1"></canvas>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Assest/dashboardAssets/dashboardJs/plugins/chartjs.min.js"></script>

<script src="~/Assest/dashboardAssets/dashboardDemo/demo.js"></script>*@


